//
// Global Settigns
// --------------------------------------------------

* { box-sizing: border-box; }

.container { @include container() }

.error { color: $errorColor; }

.success { color: $successColor; }

body { background-color: $baseColor; }

section {
	padding: $space;
	@include respond-to('mobile'){ padding: 2em 0em; }
}

.activities-feed {
	@include columns(10,1);
	@include responsive-columns('desktop',8,2);
	@include responsive-columns('tablet',12);
	@include responsive-columns('mobile',1);
}
