//
// Global Settigns
// --------------------------------------------------

* { box-sizing: border-box; }

.container { @include container() }

.error { color: $errorColor; }

.success { color: $successColor; }

body { background-color: $baseColor; }

section { padding: $space; }

.activities-feed {
	@include columns(8,2);
}
