<h1>Home Route</h1>

{{activities-feed}}


<pre>
// ------------------------------------
// Home Route
// ------------------------------------

[ ] New Component Activities Feed
[ ] Get Activities
[ ] Foreach Activities...


</pre>

{{outlet}}