.activity-card {

	float: left;
	width: 100%;
	background-color: $white;
	border-radius: 0.15em;

	margin-bottom: 1em;
	padding: 1em;

	transition: $transition;
	box-shadow: $shadow;
	transform: scale3d(1,1,1) translateY(0em);
	position: relative;
	z-index: 1;

	&:hover {

		box-shadow: $shadowHover;
		transform: scale3d(1.01,1.01,1.01) translateY(-5px);
		z-index: 2;

	}

}
