.activity-card {

	float: left;
	width: 100%;
	background-color: $white;
	border-radius: 0.15em;
	transition: $transition;
	box-shadow: $shadow;
	transform: scale3d(1,1,1) translateY(0em);
	position: relative;
	z-index: 1;
	margin-bottom: 1em;

	&:hover {

		box-shadow: $shadowHover;
		transform: scale3d(1.01,1.01,1.01) translateY(-5px);
		z-index: 2;

	}

	// when
	.when,
	.controls {

		color: $grey;
		font-size: 0.75em;
		font-weight: bold;
		padding: 1em 1.25em;
		float: left;
		width: 100%;

	}

	.when { border-bottom: 1px solid $midGrey; }
	.controls { border-top: 1px solid $midGrey; }

	// Content
	.content {

		float: left;
		width: 100%;
		padding: 1em;

		// what.
		.what {

			margin-top: 0.25em;
			margin-bottom: 1.5em;

		}

		// School
		.school {

			border: 1px solid $midGrey;
			background-color: $baseColor;
			float: left;
			width: 100%;

			.image {

				@include columns(4,0,0);
				background-color: $white;
				border-right: 1px solid $midGrey;
				img { width: 100%; height: auto; }

			}

			.info {

				@include columns(8,0,0);

				padding: 0em 1em;
			}

		}

	}



}
